{{ define "title" }}
{{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}
<div class="main">
<div class="home-grid-wrapper">
    <section class="home-block photography-block">
        <h3><a href="/photography">Photography</a></h3>
      <p>
        <a href="https://pics.davidreagan.net/Nature/Rocks/i-NQ3vX7j/A"><img src="https://photos.smugmug.com/Nature/Rocks/i-NQ3vX7j/0/64b5740f/Th/20180526_115858_1984%20x%201488_AuroraHDR2019-edit-Th.jpg" alt=""></a>
      </p>
    </section>

    <section class="home-block journal-block">
        <h3><a href="/journal/">Journals</a></h3>
        <ul>
            {{ range first 5 (where .Data.Pages "Section" "journal") }}
            <li class="block-item journal-block-item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="home-block writing-block">
        <h3><a href="/writing/">Writings</a></h3>
        <ul>
            {{ range first 5 (where .Data.Pages "Section" "writing") }}
            <li class="block-item writing-block-item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="home-block tech-block">
        <h3><a href="/tech/">Technical Posts</a></h3>
        <ul>
            {{ range first 5 (where .Data.Pages "Section" "tech") }}
            <li class="block-item tech-block-item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="home-block opinion-block">
        <h3><a href="/opinion/">Opinions</a></h3>
        <ul>
            {{ range first 5 (where .Data.Pages "Section" "opinion") }}
            <li class="block-item opinion-block-item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="home-block review-block">
        <h3><a href="/review/">Reviews</a></h3>
        <ul>
            {{ range first 5 (where .Data.Pages "Section" "review") }}
            <li class="block-item review-block-item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </section>
</div>
</div>
{{ partial "footer.html" . }}
{{ end }}
